*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea{
    font-family: 'Play', sans-serif;
    width:100%;
}

header, h1, h2, h3,
button, footer{
    font-family: 'Lemon', serif;
}

header, footer{
    background-color: #4053D1;
    padding: 15px 0;
    color: #fff;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav li{
    display: inline;
}

.container nav li a{
    text-decoration: none;
    color: #fff;
    margin-right: 12px;
}

.container a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

main .container{
    height: 60vh;
    display: flex;
    align-items: center;
}

main .container .texto{
    margin-left:20px;
}

#about-store{
    background-color: burlywood;
}

#about-store .container {
    display: flex;
    justify-content: space-between;
    height:40vh;
}

section .container article{
    width:40%;
    text-align: center;
}

section .container #contact{
    text-align: center;
}

#contact input, h2, textarea{
    margin-bottom: 12px;
}


