*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea{
    font-family: 'Play', sans-serif;
}

header, h1, h2, h3,
button, footer{
    font-family: 'Lemon', serif;
}

header, footer{
    background-color: #4053D1;
    padding: 15px 0;
    color: #fff;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav li{
    display: inline;
}

.container nav li a{
    text-decoration: none;
    color: #fff;
    margin-right: 12px;
}

.container a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

#welcome{
    margin-top: 25px;
    height: 550px;
}

#welcome img{
    height: 520px;
}

#welcome .container {
    display: flex;
    align-items: center;
}

#welcome .container  h1{
    margin-bottom: 16px;
}

section{
    background-color: #e7d6c7;
}

section .container{
    display: flex;
    justify-content: space-between;
}

section .container article p, h2{
    margin-left: 10px;
    margin-bottom: 12px;
}

section .container article{
    width: 40%;
    display: flex;
    align-items: center;
}

#contact{
    flex-direction:column;
    align-items: center;
    margin-top: 15px;
    text-align: center;
}

form input,
form textarea,
form button{
    display: block;
    width: 480px;
    margin-bottom: 8px;
    padding: 5px;
}

form textarea{
    resize: none;
    height: 60px;
}

#contact button{
    background-color: #4053D1;
    padding: 8px 0;
    color: #fff;
}

.social-media a img{
    height: 50px;
}

.eyewear-models li img{
    width: 150px;
}